Repository elucidate-ai/personalresearcher-ag4mzv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @qa-team, @devops-team, @api-specialists, @ml-specialists, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/api/endpoints.py
  src/backend/content-discovery/app/api/endpoints.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/core/__init__.py
  src/backend/content-discovery/app/core/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/core/celery_app.py
  src/backend/content-discovery/app/core/celery_app.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/core/content_processor.py
  src/backend/content-discovery/app/core/content_processor.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/core/quality_analyzer.py
  src/backend/content-discovery/app/core/quality_analyzer.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/core/source_aggregator.py
  src/backend/content-discovery/app/core/source_aggregator.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/db/__init__.py
  src/backend/content-discovery/app/db/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/db/mongodb.py
  src/backend/content-discovery/app/db/mongodb.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/models/__init__.py
  src/backend/content-discovery/app/models/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/models/content.py
  src/backend/content-discovery/app/models/content.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/models/topic.py
  src/backend/content-discovery/app/models/topic.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/schemas/__init__.py
  src/backend/content-discovery/app/schemas/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/schemas/content.py
  src/backend/content-discovery/app/schemas/content.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/schemas/topic.py
  src/backend/content-discovery/app/schemas/topic.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/services/__init__.py
  src/backend/content-discovery/app/services/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/services/books_service.py
  src/backend/content-discovery/app/services/books_service.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/services/spotify_service.py
  src/backend/content-discovery/app/services/spotify_service.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/services/youtube_service.py
  src/backend/content-discovery/app/services/youtube_service.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/utils/__init__.py
  src/backend/content-discovery/app/utils/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/utils/logger.py
  src/backend/content-discovery/app/utils/logger.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/Pipfile
  src/backend/knowledge-organization/Pipfile
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/Pipfile.lock
  src/backend/knowledge-organization/Pipfile.lock
Owners: @backend-team, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/main.py
  src/backend/knowledge-organization/main.py
Owners: @backend-team, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/__init__.py
  src/backend/knowledge-organization/app/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/config.py
  src/backend/knowledge-organization/app/config.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/api/__init__.py
  src/backend/knowledge-organization/app/api/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/api/endpoints.py
  src/backend/knowledge-organization/app/api/endpoints.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/core/__init__.py
  src/backend/knowledge-organization/app/core/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/core/graph_builder.py
  src/backend/knowledge-organization/app/core/graph_builder.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/core/graph_optimizer.py
  src/backend/knowledge-organization/app/core/graph_optimizer.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/core/relationship_extractor.py
  src/backend/knowledge-organization/app/core/relationship_extractor.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/db/__init__.py
  src/backend/knowledge-organization/app/db/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/db/neo4j.py
  src/backend/knowledge-organization/app/db/neo4j.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/models/__init__.py
  src/backend/knowledge-organization/app/models/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/models/graph.py
  src/backend/knowledge-organization/app/models/graph.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/models/node.py
  src/backend/knowledge-organization/app/models/node.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/models/relationship.py
  src/backend/knowledge-organization/app/models/relationship.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/schemas/__init__.py
  src/backend/knowledge-organization/app/schemas/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/schemas/graph.py
  src/backend/knowledge-organization/app/schemas/graph.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/utils/__init__.py
  src/backend/knowledge-organization/app/utils/__init__.py
Owners: @project-leads

.github/CODEOWNERS:

* @project-leads

# Backend services and implementations
/src/backend/* @backend-team

# Frontend application
/src/web/* @frontend-team

# Test suites
/src/test/* @qa-team

# CI/CD and GitHub workflows
/.github/workflows/* @devops-team

# Infrastructure and deployment
/infrastructure/* @devops-team

# API Gateway service - requires backend and API expertise
/src/backend/api-gateway/* @backend-team @api-specialists

# Vector processing service - requires ML expertise
/src/backend/vector-service/* @backend-team @ml-specialists

# Knowledge graph service - requires graph DB expertise
/src/backend/knowledge-organization/* @backend-team @graph-specialists

# Protocol definitions
*.proto @backend-team @api-specialists

# Package dependencies
package.json @frontend-team @backend-team
Pipfile @backend-team
