Repository elucidate-ai/personalresearcher-ag4mzv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @qa-team, @devops-team, @api-specialists, @ml-specialists, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/test/performance/benchmarks/content-processing.bench.ts
  src/test/performance/benchmarks/content-processing.bench.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/performance/benchmarks/graph-operations.bench.ts
  src/test/performance/benchmarks/graph-operations.bench.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/performance/benchmarks/vector-operations.bench.ts
  src/test/performance/benchmarks/vector-operations.bench.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/__init__.py
  src/test/utils/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/data-generators.ts
  src/test/utils/data-generators.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/mock-factory.ts
  src/test/utils/mock-factory.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/test-client.ts
  src/test/utils/test-client.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/test-logger.ts
  src/test/utils/test-logger.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/__init__.py
  src/test/utils/python/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/data_generators.py
  src/test/utils/python/data_generators.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/mock_factory.py
  src/test/utils/python/mock_factory.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/test_client.py
  src/test/utils/python/test_client.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/test_helpers.py
  src/test/utils/python/test_helpers.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/utils/python/test_logger.py
  src/test/utils/python/test_logger.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @backend-team

Add public-samples/personalresearcher-ag4mzv/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/personalresearcher-ag4mzv/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/auth/LoginForm.test.tsx
  src/web/src/__tests__/components/auth/LoginForm.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/auth/RegisterForm.test.tsx
  src/web/src/__tests__/components/auth/RegisterForm.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/common/Button.test.tsx
  src/web/src/__tests__/components/common/Button.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/content/ContentCard.test.tsx
  src/web/src/__tests__/components/content/ContentCard.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/export/ExportDialog.test.tsx
  src/web/src/__tests__/components/export/ExportDialog.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/graph/GraphVisualization.test.tsx
  src/web/src/__tests__/components/graph/GraphVisualization.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/components/search/SearchBar.test.tsx
  src/web/src/__tests__/components/search/SearchBar.test.tsx
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @project-leads

.github/CODEOWNERS:

* @project-leads

# Backend services and implementations
/src/backend/* @backend-team

# Frontend application
/src/web/* @frontend-team

# Test suites
/src/test/* @qa-team

# CI/CD and GitHub workflows
/.github/workflows/* @devops-team

# Infrastructure and deployment
/infrastructure/* @devops-team

# API Gateway service - requires backend and API expertise
/src/backend/api-gateway/* @backend-team @api-specialists

# Vector processing service - requires ML expertise
/src/backend/vector-service/* @backend-team @ml-specialists

# Knowledge graph service - requires graph DB expertise
/src/backend/knowledge-organization/* @backend-team @graph-specialists

# Protocol definitions
*.proto @backend-team @api-specialists

# Package dependencies
package.json @frontend-team @backend-team
Pipfile @backend-team
