Repository elucidate-ai/personalresearcher-ag4mzv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @qa-team, @devops-team, @api-specialists, @ml-specialists, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/Dockerfile.api-gateway
  src/backend/Dockerfile.api-gateway
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/Dockerfile.content-discovery
  src/backend/Dockerfile.content-discovery
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/Dockerfile.knowledge-organization
  src/backend/Dockerfile.knowledge-organization
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/Dockerfile.output-generation
  src/backend/Dockerfile.output-generation
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/Dockerfile.vector-service
  src/backend/Dockerfile.vector-service
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @frontend-team, @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @api-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/server.ts
  src/backend/api-gateway/src/server.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/auth/auth.middleware.ts
  src/backend/api-gateway/src/auth/auth.middleware.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/auth/jwt.service.ts
  src/backend/api-gateway/src/auth/jwt.service.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/config/config.ts
  src/backend/api-gateway/src/config/config.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/grpc/client.ts
  src/backend/api-gateway/src/grpc/client.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/grpc/proto/content.proto
  src/backend/api-gateway/src/grpc/proto/content.proto
Owners: @backend-team, @api-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/grpc/proto/knowledge.proto
  src/backend/api-gateway/src/grpc/proto/knowledge.proto
Owners: @backend-team, @api-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/grpc/proto/output.proto
  src/backend/api-gateway/src/grpc/proto/output.proto
Owners: @backend-team, @api-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/grpc/proto/vector.proto
  src/backend/api-gateway/src/grpc/proto/vector.proto
Owners: @backend-team, @api-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/middleware/error.handler.ts
  src/backend/api-gateway/src/middleware/error.handler.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/middleware/rate.limiter.ts
  src/backend/api-gateway/src/middleware/rate.limiter.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/middleware/request.validator.ts
  src/backend/api-gateway/src/middleware/request.validator.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/routes/content.routes.ts
  src/backend/api-gateway/src/routes/content.routes.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/routes/export.routes.ts
  src/backend/api-gateway/src/routes/export.routes.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/routes/graph.routes.ts
  src/backend/api-gateway/src/routes/graph.routes.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/routes/health.routes.ts
  src/backend/api-gateway/src/routes/health.routes.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/routes/topic.routes.ts
  src/backend/api-gateway/src/routes/topic.routes.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/types/index.ts
  src/backend/api-gateway/src/types/index.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/Pipfile
  src/backend/content-discovery/Pipfile
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/Pipfile.lock
  src/backend/content-discovery/Pipfile.lock
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/alembic.ini
  src/backend/content-discovery/alembic.ini
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/main.py
  src/backend/content-discovery/main.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/__init__.py
  src/backend/content-discovery/app/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/config.py
  src/backend/content-discovery/app/config.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/content-discovery/app/api/__init__.py
  src/backend/content-discovery/app/api/__init__.py
Owners: @project-leads

.github/CODEOWNERS:

* @project-leads

# Backend services and implementations
/src/backend/* @backend-team

# Frontend application
/src/web/* @frontend-team

# Test suites
/src/test/* @qa-team

# CI/CD and GitHub workflows
/.github/workflows/* @devops-team

# Infrastructure and deployment
/infrastructure/* @devops-team

# API Gateway service - requires backend and API expertise
/src/backend/api-gateway/* @backend-team @api-specialists

# Vector processing service - requires ML expertise
/src/backend/vector-service/* @backend-team @ml-specialists

# Knowledge graph service - requires graph DB expertise
/src/backend/knowledge-organization/* @backend-team @graph-specialists

# Protocol definitions
*.proto @backend-team @api-specialists

# Package dependencies
package.json @frontend-team @backend-team
Pipfile @backend-team
