Repository elucidate-ai/personalresearcher-ag4mzv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @qa-team, @devops-team, @api-specialists, @ml-specialists, @graph-specialists

.github/CODEOWNERS:

* @project-leads

# Backend services and implementations
/src/backend/* @backend-team

# Frontend application
/src/web/* @frontend-team

# Test suites
/src/test/* @qa-team

# CI/CD and GitHub workflows
/.github/workflows/* @devops-team

# Infrastructure and deployment
/infrastructure/* @devops-team

# API Gateway service - requires backend and API expertise
/src/backend/api-gateway/* @backend-team @api-specialists

# Vector processing service - requires ML expertise
/src/backend/vector-service/* @backend-team @ml-specialists

# Knowledge graph service - requires graph DB expertise
/src/backend/knowledge-organization/* @backend-team @graph-specialists

# Protocol definitions
*.proto @backend-team @api-specialists

# Package dependencies
package.json @frontend-team @backend-team
Pipfile @backend-team

Add public-samples/personalresearcher-ag4mzv/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/package.json
  src/test/package.json
Owners: @frontend-team, @backend-team

Add public-samples/personalresearcher-ag4mzv/src/test/pytest.ini
  src/test/pytest.ini
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/requirements.txt
  src/test/requirements.txt
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/api/content-flow.test.ts
  src/test/e2e/api/content-flow.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/api/export-flow.test.ts
  src/test/e2e/api/export-flow.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/api/knowledge-flow.test.ts
  src/test/e2e/api/knowledge-flow.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/web/content-discovery.test.ts
  src/test/e2e/web/content-discovery.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/web/export-generation.test.ts
  src/test/e2e/web/export-generation.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/e2e/web/knowledge-graph.test.ts
  src/test/e2e/web/knowledge-graph.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/content.json
  src/test/fixtures/content.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/exports.json
  src/test/fixtures/exports.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/graphs.json
  src/test/fixtures/graphs.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/topics.json
  src/test/fixtures/topics.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/users.json
  src/test/fixtures/users.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/fixtures/vectors.json
  src/test/fixtures/vectors.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/api-gateway/auth.test.ts
  src/test/integration/api-gateway/auth.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/api-gateway/rate-limiting.test.ts
  src/test/integration/api-gateway/rate-limiting.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/api-gateway/routes.test.ts
  src/test/integration/api-gateway/routes.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/content-discovery/content-aggregation.test.py
  src/test/integration/content-discovery/content-aggregation.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/content-discovery/quality-assessment.test.py
  src/test/integration/content-discovery/quality-assessment.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/content-discovery/source-integration.test.py
  src/test/integration/content-discovery/source-integration.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/knowledge-organization/graph-generation.test.py
  src/test/integration/knowledge-organization/graph-generation.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/knowledge-organization/relationship-mapping.test.py
  src/test/integration/knowledge-organization/relationship-mapping.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/output-generation/document-generation.test.ts
  src/test/integration/output-generation/document-generation.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/output-generation/export-formats.test.ts
  src/test/integration/output-generation/export-formats.test.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/vector-service/embedding-generation.test.py
  src/test/integration/vector-service/embedding-generation.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/integration/vector-service/similarity-search.test.py
  src/test/integration/vector-service/similarity-search.test.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/load/k6/content-discovery.js
  src/test/load/k6/content-discovery.js
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/load/k6/export-generation.js
  src/test/load/k6/export-generation.js
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/load/k6/knowledge-graph.js
  src/test/load/k6/knowledge-graph.js
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/load/k6/vector-search.js
  src/test/load/k6/vector-search.js
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/data/content.mock.ts
  src/test/mocks/data/content.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/data/graphs.mock.ts
  src/test/mocks/data/graphs.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/data/vectors.mock.ts
  src/test/mocks/data/vectors.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/services/books.mock.ts
  src/test/mocks/services/books.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/services/notion.mock.ts
  src/test/mocks/services/notion.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/services/spotify.mock.ts
  src/test/mocks/services/spotify.mock.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/mocks/services/youtube.mock.ts
  src/test/mocks/services/youtube.mock.ts
Owners: @project-leads
