Repository elucidate-ai/personalresearcher-ag4mzv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @qa-team, @devops-team, @api-specialists, @ml-specialists, @graph-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/knowledge-organization/app/utils/logger.py
  src/backend/knowledge-organization/app/utils/logger.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/package.json
  src/backend/output-generation/package.json
Owners: @frontend-team, @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/tsconfig.json
  src/backend/output-generation/tsconfig.json
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/app.ts
  src/backend/output-generation/src/app.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/config/config.ts
  src/backend/output-generation/src/config/config.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/core/document.generator.ts
  src/backend/output-generation/src/core/document.generator.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/core/export.manager.ts
  src/backend/output-generation/src/core/export.manager.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/core/format.converter.ts
  src/backend/output-generation/src/core/format.converter.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/core/template.engine.ts
  src/backend/output-generation/src/core/template.engine.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/models/document.model.ts
  src/backend/output-generation/src/models/document.model.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/services/notion.service.ts
  src/backend/output-generation/src/services/notion.service.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/templates/markdown.template.ts
  src/backend/output-generation/src/templates/markdown.template.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/templates/notion.template.ts
  src/backend/output-generation/src/templates/notion.template.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/templates/pdf.template.ts
  src/backend/output-generation/src/templates/pdf.template.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/output-generation/src/utils/logger.ts
  src/backend/output-generation/src/utils/logger.ts
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/Pipfile
  src/backend/vector-service/Pipfile
Owners: @backend-team

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/Pipfile.lock
  src/backend/vector-service/Pipfile.lock
Owners: @backend-team, @ml-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/main.py
  src/backend/vector-service/main.py
Owners: @backend-team, @ml-specialists

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/__init__.py
  src/backend/vector-service/app/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/config.py
  src/backend/vector-service/app/config.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/core/__init__.py
  src/backend/vector-service/app/core/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/core/embedding_generator.py
  src/backend/vector-service/app/core/embedding_generator.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/core/similarity_calculator.py
  src/backend/vector-service/app/core/similarity_calculator.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/core/vector_indexer.py
  src/backend/vector-service/app/core/vector_indexer.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/db/__init__.py
  src/backend/vector-service/app/db/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/db/pinecone.py
  src/backend/vector-service/app/db/pinecone.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/db/redis.py
  src/backend/vector-service/app/db/redis.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/grpc/__init__.py
  src/backend/vector-service/app/grpc/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/grpc/server.py
  src/backend/vector-service/app/grpc/server.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/grpc/vector_pb2.py
  src/backend/vector-service/app/grpc/vector_pb2.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/grpc/vector_pb2_grpc.py
  src/backend/vector-service/app/grpc/vector_pb2_grpc.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/models/__init__.py
  src/backend/vector-service/app/models/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/models/embedding.py
  src/backend/vector-service/app/models/embedding.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/utils/__init__.py
  src/backend/vector-service/app/utils/__init__.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/backend/vector-service/app/utils/logger.py
  src/backend/vector-service/app/utils/logger.py
Owners: @project-leads

Add public-samples/personalresearcher-ag4mzv/src/test/.env.test
  src/test/.env.test
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/README.md
  src/test/README.md
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/conftest.py
  src/test/conftest.py
Owners: @qa-team

Add public-samples/personalresearcher-ag4mzv/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @qa-team

.github/CODEOWNERS:

* @project-leads

# Backend services and implementations
/src/backend/* @backend-team

# Frontend application
/src/web/* @frontend-team

# Test suites
/src/test/* @qa-team

# CI/CD and GitHub workflows
/.github/workflows/* @devops-team

# Infrastructure and deployment
/infrastructure/* @devops-team

# API Gateway service - requires backend and API expertise
/src/backend/api-gateway/* @backend-team @api-specialists

# Vector processing service - requires ML expertise
/src/backend/vector-service/* @backend-team @ml-specialists

# Knowledge graph service - requires graph DB expertise
/src/backend/knowledge-organization/* @backend-team @graph-specialists

# Protocol definitions
*.proto @backend-team @api-specialists

# Package dependencies
package.json @frontend-team @backend-team
Pipfile @backend-team
